<!-- Topbar -->
<header class="topbar">
    <div class="topbar-left">
        <span class="topbar-btn sidebar-toggler"><i>&#9776;</i></span>

        <div class="topbar-btns">
            <select class="form-control" id="select-website">
                <option>{{ 'All website' | trans }}</option>
                <option>Website part</option>
                <option>Website pro</option>
            </select>
        </div>

        <div class="topbar-divider d-none d-md-block"></div>

        {% for key, category in hook['header']['left'] %}
            {% if category['template'] is defined %}
                {% include category['template'] with {'category' : category}%}
            {% else %}
                <ul class="topbar-btns">
                    <li class="dropdown">
                        <span class="topbar-btn" data-toggle="dropdown">
                            {% if category['image'] is defined %}
                                <img class="avatar" src="{{ asset('avatar/1.jpg') }}">
                            {% elseif category['title'] is defined %}
                                {{ category['title'] }}
                            {% endif %}
                        </span>
                        <div class="dropdown-menu dropdown-menu-left">
                            {% for title, item in category['items'] %}
                                {% if item['divider'] is defined %}
                                    <div class="dropdown-divider"></div>
                                {% endif %}
                                <a class="dropdown-item" id="{{ item['id'] }}" href="{{ path(item['link']) }}">
                                    <i class="{{ item['icon'] }}"></i> {{ title | trans }}
                                </a>
                            {% endfor %}
                        </div>
                    </li>
                </ul>
            {% endif %}
        {% endfor %}
    </div>

    <div class="topbar-right">

        <ul class="topbar-btns">
            {% for key, category in hook['header']['right'] %}
                {% if category['template'] is defined %}
                    {% include category['template'] with {'category' : category} %}
                {% else %}
                    <li class="dropdown">
                        <span class="topbar-btn" data-toggle="dropdown">
                            {% if category['image'] is defined %}
                                <img class="avatar" src="{{ asset('avatar/1.jpg') }}">
                            {% elseif category['title'] is defined %}
                                {{ category['title'] }}
                            {% endif %}
                        </span>
                        <div class="dropdown-menu dropdown-menu-right">
                            {% for title, item in category['items'] %}
                                {% if item['divider'] is defined %}
                                    <div class="dropdown-divider"></div>
                                {% endif %}
                                <a class="dropdown-item" id="{{ item['id'] }}" href="{{ path(item['link']) }}">
                                    <i class="{{ item['icon'] }}"></i> {{ title | trans }}
                                </a>
                            {% endfor %}
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <!-- Change language -->
        <div class="dropdown">
            <span class="topbar-btn" data-toggle="dropdown"><img class="icon" src="{{ asset('img/flag/' ~ lang ~ '.png') }}" alt="{{ lang }}"> {{ lang | trans }}</span>
            <div class="dropdown-menu dropdown-menu-right">
                {% for lang, iso in languages %}
                    <a class="dropdown-item active" href="{{ path('admin', {'_lang_code': lang}) }}{{ uri }}"><img class="icon" src="{{ asset('img/flag/' ~ lang ~ '.png') }}" alt="{{ lang }}"> {{ lang | trans }}</a>
                {% endfor %}
            </div>
        </div>
        <!-- END Change language -->

    </div>
</header>
<!-- END Topbar -->