{% extends "default_layout.html.twig" %}

{% block bodyClass %}home-wrapper{% endblock %}

{% block body %}
    <!-- video-box -->
    <div class="video-box">
        <!-- close-video -->
        <div class="close-video">
            <i class="fa fa-times"></i>
        </div><!-- /close-video -->
    </div><!-- /video-box -->

    <div class="slider-wrap">
        <!-- xxx Revolutions Slider xxx -->
        <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classicslider1">
            <!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
            <div id="rev_slider_4_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
                <ul>
                    <!-- SLIDE  -->
                    <li data-index="rs-1" data-transition="zoomout" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="{{ asset('revslider/image-1-100x50.jpg') }}"  data-rotate="0"  data-saveperformance="off"  data-title="Ken Burns" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="{{ asset('revslider/image-1.jpg') }}"  alt="" data-bgposition="center center" data-kenburns="off" data-duration="0" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption NotGeneric-Title text-center tp-resizeme"
                             id="slide-1-layer-1"
                             data-x="center" data-hoffset=""
                             data-y="center" data-voffset="-100"
                             data-width="['auto','auto','auto','auto']"
                             data-height="['auto','auto','auto','auto']"
                             data-transform_idle="o:1;"

                             data-fontsize="['70','70','70','45']"

                             data-transform_in="y:-30px;rX:70deg;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-start="700"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"


                             style="z-index: 1; white-space: nowrap;"><span class="slider-head">Créer votre site internet<br><small>En quelques clics</small></span>
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption NotGeneric-Title text-center tp-resizeme"
                             id="slide-1-layer-2"
                             data-x="center" data-hoffset=""
                             data-y="center" data-voffset="70"
                             data-width="['auto','auto','auto','auto']"
                             data-height="['auto','auto','auto','auto']"
                             data-transform_idle="o:1;"

                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power3.easeInOut;"
                             data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                             data-start="1400"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"


                             style="z-index: 2; white-space: nowrap; font-size: 18px; line-height: 30px;">Simple, rapide, fonctionnelle <br/>découvrez la solution internet idéale pour les professions libérales, artisans et TPE
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption BigBold-Button rev-btn "
                             id="slide-1-layer-3"
                             data-x="center" data-hoffset=""
                             data-y="bottom" data-voffset="110"
                             data-width="['auto']"
                             data-height="['auto']"
                             data-transform_idle="o:1;"
                             data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                             data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(41, 46, 49, 0);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"

                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-start="2100"
                             data-splitin="none"
                             data-splitout="none"
                             data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                             data-responsive_offset="on"
                             data-responsive="off"

                             style="z-index: 3; white-space: nowrap; font-weight: 800;background-color:rgba(41, 46, 49, 1.00);border-color:rgba(255, 255, 255, 0);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;"><a style="text-transform: uppercase;color:white;" href="{{ path('public.page.theme') }}">Créer mon site</a>
                        </div>
                    </li>

                    <!-- SLIDE  -->
                    <li data-index="rs-2" data-transition="fadetotopfadefrombottom" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="{{ asset('revslider/image-2-100x50.jpg') }}"  data-rotate="0"  data-saveperformance="off"  data-title="Ken Burns" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="{{ asset('revslider/image-2.jpg') }}"  alt="" data-bgposition="center center" data-kenburns="off" data-duration="0" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption NotGeneric-Title tp-resizeme"
                             id="slide-2-layer-1"
                             data-x="left" data-hoffset="60"
                             data-y="center" data-voffset="-100"
                             data-width="['auto','auto','auto','auto']"
                             data-height="['auto','auto','auto','auto']"
                             data-transform_idle="o:1;"

                             data-fontsize="['70','70','70','45']"

                             data-transform_in="y:-30px;rX:70deg;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-start="700"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"


                             style="z-index: 1; white-space: nowrap;"><span class="slider-head">Des sites modernes<br/>et bien référencés</span>
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption NotGeneric-Title tp-resizeme"
                             id="slide-2-layer-2"
                             data-x="left" data-hoffset="60"
                             data-y="center" data-voffset="70"
                             data-width="['auto','auto','auto','auto']"
                             data-height="['auto','auto','auto','auto']"
                             data-transform_idle="o:1;"

                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power3.easeInOut;"
                             data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                             data-start="1400"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"


                             style="z-index: 2; white-space: nowrap; font-size: 18px; line-height: 30px;">Grand choix de design et de fonctionnalités,<br/> accessibles sur Tablette et Mobile et bien positionnés dans Google
                        </div>

                    </li>

                    <!-- SLIDE  -->
                    <li data-index="rs-3" data-transition="parallaxhorizontal" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="{{ asset('revslider/image-3-100x50.jpg') }}"  data-rotate="0"  data-saveperformance="off"  data-title="Ken Burns" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="{{ asset('revslider/image-3.jpg') }}"  alt="" data-bgposition="center center" data-kenburns="off" data-duration="0" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption NotGeneric-Title text-center tp-resizeme"
                             id="slide-1-layer-1"
                             data-x="center" data-hoffset=""
                             data-y="center" data-voffset="-100"
                             data-width="['auto','auto','auto','auto']"
                             data-height="['auto','auto','auto','auto']"
                             data-transform_idle="o:1;"

                             data-fontsize="['70','70','70','45']"

                             data-transform_in="y:-30px;rX:70deg;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-start="700"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"


                             style="z-index: 1; white-space: nowrap;"><span class="slider-head">Une équipe <br/>à votre écoute</span>
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption NotGeneric-Title text-center tp-resizeme"
                             id="slide-1-layer-2"
                             data-x="center" data-hoffset=""
                             data-y="center" data-voffset="70"
                             data-width="['auto','auto','auto','auto']"
                             data-height="['auto','auto','auto','auto']"
                             data-transform_idle="o:1;"

                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power3.easeInOut;"
                             data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                             data-start="1400"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"


                             style="z-index: 2; white-space: nowrap; font-size: 18px; line-height: 30px;">Pour ne plus être seul derrière son ordinateur,<br/> vous pouvez solliciter notre équipe par mail, chat ou téléphone
                        </div>
                    </li>

                </ul>
                <div class="tp-static-layers"></div>
                <div class="tp-bannertimer" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);"></div>
            </div>
        </div><!-- xxx Revolutions Slider End xxx -->
    </div><!-- xxx Slider Outer End xxx -->

    <!-- Main Bodycontent Start -->
    <div class="no-pad-top">

        <section class="home-pad">
            <div class="container">
                <div class="heading-main">
                    <h1>Bienvenue sur {{ _data.setting.name }}</h1>
                </div>
                <div class="row">
                    <div class="heading-main">
                        <h2>Vous êtes entrepreneur et vous voulez partager votre projet sur internet ?</h2>
                        <p class="mt20">Ne vous limitez plus par manque de moyen ou de savoir-faire.</p>
                        <p>{{ _data.setting.name }}  vous aide à créer simplement un site professionnel pour la mise en place de votre projet.</p>
                        <p>Créez le site qui vous ressemble grâce à notre plateforme simple et intuitive. Proposez vos services en ligne en choisissant parmi nos nombreuses fonctionnalités.</p>
                        <a href="{{ path('public.page.theme') }}" class="btn-round-bg btn-medium mt20"> Créer mon site gratuitement</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="home-pad">
            <div class="fullscreen background parallax video-bg1" data-img-width="1600" data-img-height="1064" data-diff="100">
                <div class="page-overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h3>Regarder la vidéo de présentation</h3>
                            <div class="video-icon">
                                <a class="img-circle play-video">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="home-pad pt0">
            <div class="fullscreen background parallax about-bg-2 light no-bottom-pad" data-img-width="1900" data-img-height="1262" data-diff="100">
                <div class="page-overlay"></div>
                <div class="container">
                    <div class="row smart-mar">
                        <div class="col-md-3 col-sm-6">
                            <div class="top-icons">
                                <div class="icon-big">
                                    <i class="fa fa-laptop"></i>
                                </div>
                                <h3>Design</h3>
                                <p>Un choix à faire parmi plusieurs thèmes graphiques divers et variés</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="top-icons">
                                <div class="icon-big">
                                    <i class="fa fa-code"></i>
                                </div>
                                <h3>Technique</h3>
                                <p>Notre solution est pleinement compatible tablette et mobile et s’installe très rapidement</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="top-icons">
                                <div class="icon-big">
                                    <i class="fa fa-diamond"></i>
                                </div>
                                <h3>Moderne</h3>
                                <p>Prise de RDV, lien réseaux sociaux, insertion vidéos…plus de 30 fonctionnalités à découvrir</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="top-icons">
                                <div class="icon-big">
                                    <i class="fa fa-smile-o"></i>
                                </div>
                                <h3>Pratique</h3>
                                <p>Une équipe de 4 personnes à votre écoute toute l’année et une documentation détaillée</p>
                            </div>
                        </div>
                    </div>
                    <div class="row small-top-pad">
                        <div class="col-sm-12 text-center">
                            <img alt="" src="{{ asset('callout-img.jpg') }}">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="home-pad pb40">
            <div class="container">
                <div class="heading-main">
                    <h1>Nos derniers thèmes</h1>
                    <p>Commencez par choisir un thème de base s'adaptant à votre activité.<br> Vous pourrez ensuite le personnaliser à votre guise.</p>
                </div>
                <div id="js-grid-awesome-work" class="cbp cbp-l-grid-work">
                    {% for theme in themes %}
                        {% if theme.website.domain|slice(0, 4) == 'http' %}
                            {% set theme_path = theme.website.domain %}
                        {% else %}
                            {% set theme_path = path ~ theme.website.domain %}
                        {% endif %}
                        <div class="cbp-item">
                            <a href="{{ path('public.preview') }}?template_id={{ theme.id }}&template_path={{ theme_path }}" target="_blank" class="cbp-caption" data-title="{{ theme.name }}">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="{{ asset(theme.thumbnail.path) }}" alt="{{ theme.thumbnail.alt }}" style="height:170px;">
                                </div>
                            </a>
                            <a href="{{ path('public.preview') }}?template_id={{ theme.id }}&template_path={{ theme_path }}" target="_blank" class="cbp-l-grid-work-title">{{ theme.name }}</a>
                            <div class="cbp-l-grid-work-desc">
                                <a href="{{ path('public.preview') }}?template_id={{ theme.id }}&template_path={{ theme_path }}" target="_blank" class="btn-round-bg btn-medium"><i class="fa fa-eye"></i> Démo</a>
                                <a href="{{ path('public.registration', {'theme_id' : theme.id}) }}" class="btn-round-bg btn-medium"><i class="fa fa-check"></i> Sélectionner</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="cbp-l-loadMore-button mt40">
                    <a href="{{ path('public.page.theme') }}" class="btn-round-border btn-medium">Voir tout nos thèmes</a>
                </div>
            </div>
        </section>

        <section class="home-pad inner-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="heading-main right-align mb40 mt40 pt40 pb20">
                            <h1 class="right-align">Personnalisez votre site web</h1>
                            <p>Grâce à notre plateforme intuitive, vous pouvez personnalisez votre site très facilement et sans aucunes notions informatiques.</p>
                            <a href="{{ path('public.page.theme') }}" class="btn-round-bg btn-medium mt20"> Comment ça marche</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="{{ asset('mac-webzy.jpg') }}" alt="Mockup-mac">
                    </div>
                </div>
            </div>
        </section>

        <section class="callout-1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">N'attendez plus et créez dès maintenant votre site professionel</div>
                    <div class="col-sm-4 text-right">
                        <a href="{{ path('ikinoa.page.theme') }}" class="btn-square-icon btn-medium"> Créer mon site</a>
                    </div>
                </div>
            </div>
        </section>


    </div>
{% endblock %}