{% extends 'auth_layout.html.twig' %}

{% block body %}
<div id="lost-password-page" class="row min-h-fullscreen center-vh p-20 m-0">
    <div class="col-12">

        <response :response="response"></response>

        <div class="card card-shadowed px-50 py-30 w-400px mx-auto" style="max-width: 100%">
            <h5 class="text-uppercase">{{ 'Recover password' | trans }}</h5>
            <br>

            <form @sumit.prevent="submit" action="{{ path('/auth/lost-password') }}" method="POST" data-provide="validation" class="form-type-material">
                <div class="form-group">
                    <input type="email" class="form-control validate" v-model="email" required id="email">
                    <label for="email">{{ 'E-mail' | trans }}</label>
                    <div class="invalid-feedback"></div>
                </div>

                <br>
                <input type="hidden" name="_token" value="{{ token() }}">
                <button @click.prevent="submit()" class="btn btn-bold btn-block btn-primary">{{ 'Submit' | trans }}</button>

                <a href="{{ path('/auth') }}">{{ 'Login' | trans }}</a>

            </form>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}

    {% include 'Component/response.html.twig' %}

    <script>
        new Vue({
            el: '#lost-password-page',
            delimiters: ['${', '}'],
            data: function() {
                return {
                    email: null,
                    response: _app.response
                }
            },
            methods: {
                submit: function () {
                    let o = this;
                    this.$http.post("{{ path('/auth/lost-password') }}", {
                        email : this.email
                    }).then(function (response) {
                        if(typeof response.data.redirect !== 'undefined'){
                            window.location.href = response.data.redirect;
                        }else {
                            o.response = response.data;
                        }
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
            }
        })
    </script>
{% endblock %}