{% extends 'layout.html.twig' %}

{% block body %}
<div class="lost-password-page row min-h-fullscreen center-vh p-20 m-0">
    <div class="col-12">

        <div class="card card-shadowed px-50 py-30 w-400px mx-auto" style="max-width: 100%">
            <h5 class="text-uppercase">{{ 'Recover password' | trans }}</h5>
            <br>

            <form action="{{ path('/auth/lost-password') }}" method="POST" data-provide="validation" class="form-type-material">
                <div class="form-group">
                    <input type="email" class="form-control validate" name="email" required id="email">
                    <label for="email">{{ 'E-mail' | trans }}</label>
                    <div class="invalid-feedback"></div>
                </div>

                <br>
                <input type="hidden" name="_token" value="{{ token() }}">
                <button type="submit" class="btn btn-bold btn-block btn-primary">{{ 'Submit' | trans }}</button>

                <a href="{{ path('/auth/login') }}">{{ 'Login' | trans }}</a>

            </form>
        </div>
    </div>
</div>

{% endblock %}