{% extends "default_layout.html.twig" %}
{% import 'Macros/message.html.twig' as form %}

{% block body %}

    <!-- xxx Breadcrumns Wrap xxx -->
    <section class="fullscreen background parallax image breadcrumb-wrap blog-bg" data-img-width="1600" data-img-height="1067" data-diff="100">
        <div class="page-overlay"></div>
        <div class="container">
            <h1>Inscription</h1>
            <small>
                <a href="{{ path('public.page') }}">Accueil</a><i class="fa fa-angle-double-right"></i>
                <a href="{{ path('public.page.theme') }}">Thèmes</a><i class="fa fa-angle-double-right"></i>
                Inscription
            </small>
        </div>
    </section>
    <!-- xxx Breadcrumns Wrap End xxx -->

    <div id="body-content register-section">
        <div class="container">

            <div class="row pt40">
                <div class="col-md-12 center-align">
                    <h1>Démarrez gratuitement avec ce design.</h1>
                    <h3>Vous pouvez choisir un autre design à tout moment.</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="about-white-intro">
                        <h2>1. Votre thème</h2>
                        <img src="{{ asset(theme.thumbnail.path) }}" alt="{{ theme.thumbnail.alt }}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="about-white-intro">
                        {{ form.messages(response) }}
                        <form novalidate="novalidate" id="register_form" action="{{ path('public.registration.register', {'theme_id': theme.id}) }}" method="POST">
                            <div class="row pad-bottom-20">
                                <h2>2. Vos informations personnelles</h2>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" placeholder="Entreprise *" name="society[name]" required class="form-control" id="society">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" >
                                    <input type="text" placeholder="Nom *" name="account[last_name]" required class="form-control" id="last_name" >
                                </div>
                                <div class="col-md-6">
                                    <input type="text" placeholder="Prénom *" name="account[first_name]" required class="form-control" id="first_name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" placeholder="Adresse *" name="address[address]" required class="form-control" id="address">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" placeholder="Code postal *" name="address[postal_code]" required class="form-control" id="postal_code">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" placeholder="Ville *" name="address[city]" required class="form-control" id="city">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="tel" placeholder="Téléphone *" name="account[phone]" required class="form-control" id="phone">
                                </div>
                            </div>
                            <div class="row pt20">
                                <h2>3. Vos informations de connexion</h2>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="email" placeholder="E-mail *" name="account[email]" required class="form-control" id="email">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="password" placeholder="Choisissez un mot de passe *" name="account[password]" required class="form-control" id="password">
                                </div>
                                <div class="col-md-6">
                                    <input type="password" placeholder="Confirmez votre mot de passe *" name="account[confirm_pass]" required class="form-control" id="confirm_pass">
                                </div>
                            </div>
                            <div class="row pt20">
                                <div class="col-md-12">
                                    {{ captcha.html('recaptcha') }}
                                </div>
                            </div>
                            <em>(*) Champs obligatoires</em>
                            <div class="row pt10">
                                <div class="col-md-12">
                                    <p>En m'inscrivant, j'accepte les <a href="{{ path('public.page.cgu') }}" target="_blank">Conditions d'utilisation et la Charte de confidentialité</a> de Webzy.</p>
                                </div>
                            </div>
                            <input type="hidden" name="_token" id="token" value="{{ token() }}">
                            <div class="row center-align mb20">
                                <button type="submit" name="submit" class="btn-round-bg btn-submit btn-medium">Valider</button>
                                <button class="btn-round-bg btn-medium btn-loading" style="display:none;">Chargement ...</button>
                            </div>
                            <div id="response-message" class="alert" style="display: none;">
                                <span></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row pt40 pb40">
                <div class="col-md-12 center-align">
                    <a class="btn-round-bg btn-medium" href="{{ path('public.page.theme') }}"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Retour au choix de thèmes</a>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block js %}
    {{ captcha.js() }}
    <script src="{{ asset('libs/jquery.validate/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('front/register.js') }}"></script>

{% endblock %}